
.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___info {
  font-size: 1.4em;
  height: 100%;
  width: 100%;
  flex: 1;
  cursor: pointer;
  background: #ffdfa7;
  margin: 10px;
  border: 5px solid #ca9650;
  text-align: center;
}

.fighter-preview___info img {
  height: 480px;
  max-width: 100%;
}

.fighter-preview___right .fighter-preview___info img {
  transform: scaleX(-1);
}

.fighter-preview___stats {
  display: flex;
  flex-direction: column;
}

.fighter-preview___info span {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}